<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>${TITLE}</title>
<meta name="author" content="Chris Achenbach">
<meta name="description" content="${DESCRIPTION}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<link rel="stylesheet" type="text/css" href="css/default.css" />
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
</head>

<body>

<div class='all-but-footer'>
<header>
	<div class="cubepad"></div>
	<div class="cubeHolder"><img src="img/cube.gif" class="cube"/></div>
	<h1>Chris Achenbach's Homepage!</h1>
	<div class="cubeHolder"><img src="img/cube.gif" class="cube"/></div>
	<div class="cubepad"></div>
</header>

<nav>
	<div class="navpad"></div>
	<a href="index.html">Home</a>
	<a href="projects.html">Projects</a>
	<a href="quotes.html">Quotes</a>
	<a href="contact.html">Contact</a>
	<div class="navpad"></div>
</nav>

<main>
${MAIN}
</main>

</div>
<footer>Chris Achenbach &copy; 2022</footer>
</body>
</html>


